@media (max-width:991.98px) {

    h2 {
        font-size: 3.8rem;
    }

    h2 span {
        font-size: 4.6rem;
    }

    .container {
        padding-inline: 2.4rem;
    }

    .for_medium {
        display: block !important;
    }

    .for_large {
        display: none !important;
    }

    .faq_grid>div:first-child {
        max-width: 100%;
        text-align: center;
    }

    .faq_grid {
        flex-direction: column;
        align-items: center;
    }

    .faq_question {
        padding-inline: 1.6rem;
    }

    .pressure {
        height: 91rem;
        align-items: flex-end;
        padding-bottom: 8rem;
    }

    .pressure_content {
        max-width: 40rem;
        margin-inline: auto;
        text-align: center;
    }

    .pressure_content ul {
        padding-inline: 3.2rem;
    }

    .pressure_btn .common_btn {
        width: calc(100% - 2rem);
    }

    .footer_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }

    .footer_grid>div {
        max-width: 100%;
    }

    .footer_grid>div:first-child,
    .footer_grid>div:last-child {
        grid-column: span 3;
    }

    .footer_grid>div:last-child {
        display: flex;
        align-items: self-end;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (max-width:576px) {
    h2 {
        font-size: 2.8rem;
    }

    h2 span {
        font-size: 3.6rem;
    }

    .for_large {
        display: none !important;
    }

    .for_small {
        display: block !important;
    }

    .reviewSlider .swiper-slide {
        max-width: 45rem;
    }

    .faq_grid {
        align-items: stretch;
    }

    .pressure_content ul li {
        font-size: 1.6rem;
    }

    .footer_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_grid>div:first-child,
    .footer_grid>div:last-child,
    .footer_grid>div:nth-child(4) {
        grid-column: span 2;
    }

    .footer_grid>div:nth-child(4) ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 5rem;
        margin-top: -2.6rem;
    }

    .footer_grid>div:nth-child(4) ul li {
        width: 100%;
    }

    .copyright {
        display: none;
    }

    .footer_grid>div:last-child {
        flex-direction: column;
        text-align: center;
        align-items: stretch;
    }
}