@media (min-width: 991.2px) and (max-width:1220px) {
    html {
        font-size: .83vw;
    }

    .container {
        max-width: 120rem;
        padding-inline: 3rem;
    }
}

@media (max-width:991.98px) {
    html {
        font-size: 1.303vw;
    }

    h2 {
        font-size: 3.8rem;
    }

    h2 span {
        font-size: 4.6rem;
    }

    .container {
        padding-inline: 2.4rem;
        max-width: 76.8rem;
    }

    .for_medium {
        display: block !important;
    }

    .for_large {
        display: none !important;
    }

    .for_small {
        display: none !important;
    }

    .common_btn {
        line-height: 1.25;
    }

    .py_80 {
        padding-block: 6rem;
    }

    .common_title {
        margin-bottom: 2.4rem;
    }

    .common_title h2 {
        font-size: 3.8rem;
        margin-bottom: .8rem;
    }

    .common_title h2 span {
        font-size: 4.6rem;
    }

    .common_title p {
        font-size: 1.6rem;
    }

    body.menu_active header {
        background-color: var(--white);
        transition: .1s ease-in;
        position: fixed;
    }

    #main_nav {
        background-color: var(--white);
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 999;
        padding-inline: 2.4rem;
        padding-top: 1.6rem;
        padding-bottom: 4rem;
        top: -100%;
        transition: .4s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    #main_nav.active {
        top: 7.2rem;
        opacity: 1;
        visibility: visible;
    }

    #main_nav ul {
        display: block;
        column-count: 2;
    }

    #main_nav ul li {
        margin-bottom: 2.4rem;
    }

    #main_nav ul a {
        color: var(--black);
        text-align: left;
        font-size: 1.8rem !important;
        padding-inline: 0;
        mix-blend-mode: normal;
    }

    #main_nav .common_btn {
        font-size: 1.8rem;
    }

    #hamburger {
        width: 3.2rem;
    }

    #hamburger img {
        width: 100%;
        max-width: 3.2rem;
        mix-blend-mode: difference;
    }

    #hamburger.active .hamburger_img {
        display: none;
    }

    #hamburger .close_img {
        display: none;
    }

    #hamburger.active .close_img {
        display: block;
        width: 2.8rem;
        mix-blend-mode: darken;
    }

    .banner {
        padding: 43.3rem 0 8rem;
    }

    .banner::before {
        display: none;
    }

    .home_row {
        grid-template-columns: 1fr;
    }

    .home_content {
        text-align: center;
        margin-inline: auto;
    }

    .trustpilot-home {
        justify-content: center;
    }

    .trust-logo {
        display: block;
    }

    .home_content ul {
        width: fit-content;
        margin-inline: auto;
        text-align: left;
    }

    .testimonial {
        padding-bottom: 6rem;
    }

    .testimonial_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
    }

    .testi_author h4 {
        font-size: 1.6rem;
    }

    .testi_author p {
        font-size: 1.4rem;
    }

    .friction_video {
        max-height: 41rem;
    }

    .friction_video .thumbnail_img img {
        max-height: 41rem;
    }

    .around_grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
        padding-top: .8rem;
    }

    .around_grid>div:last-child {
        grid-column: span 1;
    }

    .around_card {
        padding: 3.2rem;
        display: flex;
        gap: 2rem;
    }

    .around_card::after {
        top: calc(100% - 2rem);
    }

    .around_card>div:first-child {
        width: 6.4rem;
    }

    .around_card>*:last-child {
        width: calc(100% - 6.4rem);
    }

    .verified_img {
        width: 6.4rem;
    }

    .volume_img {
        width: 6.4rem;
    }

    .around_card.long {
        flex-wrap: wrap;
        padding: 4rem;
    }

    .around_card.long>div {
        width: auto
    }

    .around_card.long>div:first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
    }

    .around_card.long>div:not(:first-child) {
        align-items: flex-start;
    }

    .around_card.long img {
        width: 4rem;
    }

    .smarter {
        height: 90rem;
        background: linear-gradient(360deg, #000000 0%, rgb(21 26 29 / 38%) 100%);
        padding-top: 37.2rem;
    }

    .smarter_img {
        background: linear-gradient(360deg, #000000 0%, rgb(21 26 29 / 38%) 100%);
        height: 76.8rem;
        object-fit: cover;
        object-position: top center;
    }

    .smarter::before {
        background: linear-gradient(360deg, #000000 0%, rgb(21 26 29 / 18%) 100%);
        opacity: 1;
    }

    .smarter_text {
        text-align: center;
    }

    .smart_card {
        padding: 2.4rem;
    }

    .smart_card h4 {
        font-size: 2rem;
    }

    .smart_card p {
        font-size: 1.6rem;
    }

    .step_grid {
        flex-direction: column;
        max-width: 53rem;
        margin-inline: auto;
        padding-left: 2rem;
        padding-right: 4rem;
        padding-top: 1.6rem;
        gap: 4rem;
    }

    .step_grid>div {
        display: flex;
        max-width: 41rem;
        width: 100%;
        gap: 3.2rem;
    }

    .step_grid>div:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: auto;
        position: relative;
        gap: 0;
    }

    .arrow_beige_desktop {
        left: auto;
        right: -3rem;
        top: -12rem;
        width: 10rem;
    }

    .arrow_blue_desktop {
        top: auto;
        bottom: -8rem;
        left: auto;
        right: 0;
        transform: translateX(0);
    }

    .qualify_list {
        flex-wrap: wrap;
        margin-top: 4.8rem;
    }

    .qualify_list>li:first-child {
        width: 100%;
        justify-content: center;
    }

    .bank_feature {
        margin-inline: -2.4rem;
    }

    .bank_feature>div {
        padding-block: 2rem;
    }

    .bank_feature>div>div {
        padding-inline: 3.2rem !important;
    }

    .bank_feature h3 {
        font-size: 2rem;
    }

    .bank_feature h4 {
        font-size: 1.8rem;
    }

    .bank_feature p {
        font-size: 1.8rem;
    }

    .trustpilot {
        margin-bottom: 1rem;
    }

    .reviewSlider .swiper-slide {
        width: 60rem;
    }

    .faq_grid {
        gap: 4rem;
    }

    .faq_grid>div:first-child {
        max-width: 100%;
        text-align: center;
    }

    .faq_grid {
        flex-direction: column;
        align-items: center;
    }

    .faq_question {
        padding-inline: 1.6rem;
    }

    .pressure {
        height: 91rem;
        align-items: flex-end;
        padding-bottom: 8rem;
        margin-top: 6rem;
    }

    .pressure_content {
        max-width: 40rem;
        margin-inline: auto;
        text-align: center;
    }

    .pressure_content ul {
        padding-inline: 3.2rem;
    }

    .pressure_btn .common_btn {
        width: calc(100% - 2rem);
    }

    .footer_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }

    .footer_grid>div {
        max-width: 100%;
    }

    .footer_grid>div:first-child,
    .footer_grid>div:last-child {
        grid-column: span 3;
    }

    .footer_grid>div:last-child {
        display: flex;
        align-items: self-end;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer_bottom {
        padding-top: 4rem;
        margin-top: 4rem;
    }
}

@media (max-width:576px) {
    html {
        font-size: 2.565vw;
    }

    h2 {
        font-size: 2.8rem;
    }

    .py_80 {
        padding-block: 4rem;
    }

    .common_title h2 {
        font-size: 2.8rem;
        margin-bottom: .4rem;
    }

    .common_title h2 span {
        font-size: 3.6rem;
    }

    .common_title p {
        padding-inline: 1rem;
    }

    .for_small {
        display: block !important;
    }

    h2 span {
        font-size: 3.6rem;
    }

    .for_large {
        display: none !important;
    }

    .for_small {
        display: block !important;
    }

    #main_nav {
        padding-top: 2.2rem;
    }

    #main_nav.active {
        top: 5.8rem;
    }

    #main_nav ul {
        display: block;
        column-count: 1;
    }

    .header_btn {
        display: none;
    }

    .banner {
        padding: 30.7rem 0 6rem;
    }

    .trustpilot-home {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .trust-logo {
        display: none;
        margin-inline: auto;
        height: 1.6rem;
        margin-bottom: 1.2rem;
    }

    .home_content h1 {
        font-size: 3.2rem;
    }

    .home_content ul li {
        font-size: 1.6rem;
    }

    .home_content .common_btn {
        margin-top: 1.4rem;
    }

    .testimonial {
        padding-bottom: 4rem;
        padding-top: 3.2rem;
    }

    .testimonial_grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }

    .friction_video {
        max-height: 36rem;
        margin-inline: -2.4rem;
        border-radius: 0;
    }

    .friction_video .thumbnail_img img {
        height: 36rem;
        object-fit: cover;
        border-radius: 0;
    }

    .friction_video .play_icon {
        width: 8rem;
    }

    .friction_video .video_text p {
        font-size: 1.6rem;
    }

    .around_card {
        gap: 0rem;
        padding: 2.4rem !important;
        flex-direction: column;
    }

    .around_card .for_large {
        display: block !important;
    }

    .around_card .for_medium {
        display: none !important;
    }

    .around_card.long>div:first-child {
        flex-direction: column;
        margin-bottom: 1.6rem;
    }

    .around_card.long>div:not(:first-child) {
        width: 100%;
        justify-content: start;
    }

    .around_card h4 {
        font-size: 2rem;
        margin-top: 0;
    }

    .around_card p {
        font-size: 1.6rem;
    }

    .verified_img {
        width: 4.8rem;
    }

    .around_card h3 {
        font-size: 3.4rem;
    }

    .around_card.long h4 {
        font-size: 2.2rem;
    }

    .around_btn .common_btn {
        width: 100%;
    }

    .around ul {
        display: block;
        width: max-content;
        margin-inline: auto;
    }

    .around ul li:not(:last-child) {
        margin-bottom: .8rem;
    }

    .smarter_text h2 {
        text-wrap: balance;
    }

    .smarter_text p {
        margin-top: .4rem;
        margin-bottom: 1.64rem;
        text-wrap: balance;
    }

    .smarter {
        height: 72rem;
        background: linear-gradient(360deg, #000000 0%, rgb(21 26 29 / 38%) 100%);
        padding-top: 26.5rem;
        margin-block: 4rem;
    }

    .smarter_img {
        background: linear-gradient(360deg, #000000 0%, rgb(21 26 29 / 38%) 100%);
        height: 38rem;
    }

    .smarter::before {
        background: linear-gradient(360deg, #161A1D 40%, rgb(21 26 29 / 0%) 100%);
        opacity: 1;
    }

    .step_grid {
        padding-top: 0;
        gap: 6rem;
    }

    .step_grid>div {
        display: block;
        max-width: 100%;
        padding-inline: 3rem;
    }

    .step_grid>div:nth-child(2) {
        margin-left: 0;
    }

    .step_grid .step_img {
        margin-inline: auto;
        margin-bottom: 1.6rem;
    }

    .step_grid h4 {
        font-size: 2rem;
    }

    .step_grid li {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .arrow_beige_desktop {
        left: auto;
        right: -8rem;
        top: -12rem;
        width: 10rem;
    }

    .arrow_blue_desktop {
        top: auto;
        bottom: -8rem;
        left: -2rem;
        right: auto;
    }

    .qualify_list {
        margin-top: 4rem;
        max-width: 28rem;
        display: block;
        margin-inline: auto;
    }

    .qualify_list>li:first-child {
        justify-content: start;
    }

    .qualify_list li {
        font-weight: 500;
    }

    .qualify_list li:not(:last-child) {
        margin-bottom: .8rem;
    }

    .step_btn {
        margin-top: 2.4rem;
    }

    .step_btn .common_btn {
        width: 100%;
    }

    .bank .common_title {
        max-width: 30rem;
    }

    .bank_feature {
        margin-top: 2.4rem;
        margin-inline: -2.4rem;
        overflow-x: hidden;
    }

    .bank_feature h3 {
        text-align: center;
        font-size: 1.4rem;
        max-width: 9rem;
        margin: auto;
    }

    .bank_feature>div {
        padding-block: 1.6rem;
    }

    .bank_feature>div>div {
        padding-inline: 1.6rem !important;
        display: block;
        text-align: center;
    }

    .bank_feature p {
        font-size: 1.6rem;
    }

    .bank_feature h4 {
        font-size: 1.6rem;
    }

    .bank_feature img {
        width: 2.8rem;
        margin-bottom: .4rem;
    }

    .bank_feature::before {
        border-radius: 1rem 0 0 0;
    }

    .bank_shape {
        width: 20rem !important;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        height: 1rem;
        object-fit: cover;
    }

    .review .common_title h2 {
        font-size: 2.8rem;
        margin-bottom: .4rem;
        text-wrap: balance;
    }

    .trustpilot {
        flex-wrap: wrap;
    }

    .reviewSlider {
        padding-top: 1.4rem;
    }

    .reviewSlider .swiper-slide {
        max-width: 35rem;
    }

    .review_card p {
        font-size: 1.4rem;
    }

    .review_author h4 {
        font-size: 1.6rem;
    }

    .review_card h3 {
        font-size: 1.8rem;
    }

    .review_btn {
        margin-top: 1rem;
        padding-inline: 2.4rem;
    }

    .review_btn p {
        margin-top: 1.2rem;
    }

    .review_btn .common_btn {
        width: 100%;
    }

    .faq_left h2 {
        text-wrap: balance;
    }

    .faq_question {
        padding-inline: 0rem;
    }

    .faq_question h3 {
        font-size: 2rem;
    }

    .faq_question p {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .faq_grid {
        align-items: stretch;
    }

    .pressure {
        margin-top: 2rem;
        height: 64rem;
        padding-bottom: 6rem;
    }

    .pressure_content ul {
        padding-inline: 0;
        width: max-content;
        margin-inline: auto;
    }

    .pressure_content ul li {
        font-size: 1.6rem;
        text-align: left;
    }

    footer {
        padding-block: 4rem;
    }

    .footer_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer_grid>div:first-child,
    .footer_grid>div:last-child,
    .footer_grid>div:nth-child(4) {
        grid-column: span 2;
    }

    .footer_grid>div:nth-child(4) ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 5rem;
        margin-top: -2.6rem;
    }

    .footer_grid>div:nth-child(4) ul li {
        width: 100%;
    }

    footer ul a {
        font-size: 1.6rem;
    }

    .footer_btn {
        border-color: var(--white);
    }

    .copyright {
        display: none;
    }

    .footer_grid>div:last-child {
        flex-direction: column;
        text-align: center;
        align-items: stretch;
    }

    .footer_bottom {
        padding-top: 3.2rem;
        margin-top: 3.2rem;
    }

    .modal {
        padding: 0;
    }

    .modal_logo {
        display: inline;
        position: absolute;
        top: 2rem;
        left: 2.4rem;
        height: 2.5rem;
        mix-blend-mode: difference;
    }

    .modal_dialog {
        height: 100dvh;
        padding: 2.4rem;
        border-radius: 0;
        display: flex;
        align-items: center;
        padding-top: 4rem;
    }

    .close_icon {
        top: 2rem;
    }

    .contact_modal h3 {
        font-size: 2.8rem;
        line-height: 1.2;
        text-align: center;
    }

    .contact_modal form {
        margin-top: 1.6rem;
        gap: 1.6rem;
    }

    .modal.thank .thank_body {
        max-width: 26rem;
        margin-inline: auto;
    }

    .modal.thank .thank_body h3 {
        text-wrap: balance;
    }
}