/* font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --primaryFont: 'Be Vietnam Pro', sans-serif;
    --secondaryFont: 'Crimson Pro', serif;
    --white: #fff;
    --black: #000;
    --primaryColor: #1D79E9;
    --lightGray: #F1F0E3;
    --dark: #161A1D;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--black);
    font-weight: 400;
    letter-spacing: -0.02em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 2rem;
    width: 100%;
}

ul,
li {
    list-style: none;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button {
    border: none;
    background-color: transparent;
    font-family: inherit;
}

h2 {
    font-size: 4.2rem;
    font-weight: 600;
}

h2 span {
    font-family: var(--secondaryFont);
    font-size: 5rem;
    font-weight: 400;
    font-style: italic;
}

p {
    color: rgba(21, 26, 29, .56);
}

.py_80 {
    padding-block: 8rem;
}

img {
    max-width: 100%;
}

.for_small {
    display: none !important;
}

.for_medium {
    display: none !important;
}

.for_large {
    display: block;
}

.common_btn {
    display: inline-block;
    background-color: var(--primaryColor);
    border-radius: 5rem;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.4rem 3.2rem;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    line-height: 1.35;
}

.common_btn:hover {
    background-color: var(--black);
    color: #fff;
}

.common_btn_2 {
    display: inline-block;
    background-color: transparent;
    border-radius: 5rem;
    color: var(--primaryColor);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.4rem 3.2rem;
    text-align: center;
    border: .1rem solid var(--primaryColor);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    line-height: 1.35;
}

.common_btn_2:hover {
    background-color: var(--primaryColor);
    color: #fff;
}

.common_title {
    text-align: center;
    margin-bottom: 3.2rem;
    margin-inline: auto;
}

.common_title h2 {
    font-size: 4.2rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -.04em;
    margin-bottom: 1.2rem;
}

.common_title h2 span {
    font-family: var(--secondaryFont);
    font-size: 5rem;
    font-style: italic;
    font-weight: 400;
}

.common_title p {
    font-size: 1.8rem;
    font-weight: 300;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header.scrolled {
    position: fixed;
    background-color: var(--white);
    -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, .1);
            box-shadow: 0 0 3rem rgba(0, 0, 0, .1);
}


.header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    grid-area: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-block: 1.4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: .1rem solid rgba(255, 255, 255, .2);
}

.logo {
    height: 2.5rem;
    mix-blend-mode: difference;
}

.header_content nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header_content nav a {
    padding-inline: 1.2rem;
    display: block;
    color: var(--white);
    font-size: 1.4rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
header.scrolled .header_content nav a {
    color: var(--black);
}
.header_content nav a:hover,
.header_content nav a.active {
    color: var(--primaryColor) !important;
}

.header_btn_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.4rem;
}

.header_btn {
    display: inline-block;
    padding: 1.2rem 2.2rem;
    border: .1rem solid rgba(255, 255, 255, .5);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    border-radius: 5rem;
    line-height: 1.29;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: inherit;
}
header.scrolled .header_btn{
    border-color: var(--black);
    color: var(--black);
}
.header_btn:hover {
    background-color: #fff;
    color: var(--dark);
}
header.scrolled .header_btn:hover{
    background-color: var(--dark);
    color: var(--white);
}
/* banner */
.banner {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 17.4rem 0 14rem;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, right top, left top, from(rgba(21, 26, 29, 0)), color-stop(40%, rgba(21, 26, 29, 0)), color-stop(60%, rgba(21, 26, 29, 0.9)), to(#151B1D));
    background: -o-linear-gradient(right, rgba(21, 26, 29, 0) 0%, rgba(21, 26, 29, 0) 40%, rgba(21, 26, 29, 0.9) 60%, #151B1D 100%);
    background: linear-gradient(270deg, rgba(21, 26, 29, 0) 0%, rgba(21, 26, 29, 0) 40%, rgba(21, 26, 29, 0.9) 60%, #151B1D 100%);
    z-index: 1;
}

.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../images/home_shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.hero_img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right top;
       object-position: right top;
    z-index: 0;
    top: 0;
    left: 0;
}

.home_row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 3;
}

.home_content {
    max-width: 51rem;
}

.home_content h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.04em;
    margin: 1.6rem 0;
}

.home_content h1 span {
    font-family: var(--secondaryFont);
    font-size: 120.83%;
    font-weight: 500;
    font-style: italic;
}

.home_content ul li {
    position: relative;
    padding-left: 2.8rem;
    background-image: url(../images/check.svg);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: top left;
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.home_content .common_btn {
    width: 100%;
    max-width: 35rem;
    margin-top: 2.2rem;
}

.home_content .common_btn:hover {
    background-color: #fff;
    color: var(--black);
}

.home_content p {
    color: #fff;
    margin-top: 1.6rem;
    font-weight: 300;
    font-size: 1.4rem;
}

.home_content p strong {
    font-weight: 700;
}

.trustpilot-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1.2rem;
       -moz-column-gap: 1.2rem;
            column-gap: 1.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.trustpilot-home .trust-star {
    height: 2.4rem;
}

.trustpilot-home .trust-logo {
    height: 1.6rem;
}

img {
    vertical-align: middle;
}

.verified_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.8rem 2.4rem;
    gap: 1.0rem;
    background: rgba(21, 26, 29, 0.7);
    border: .1rem solid rgba(0, 123, 241, 0.4);
    -webkit-backdrop-filter: blur(1.2rem);
            backdrop-filter: blur(1.2rem);
    border-radius: 1rem;
    max-width: 43.8rem;
    margin-left: auto;
}

.verified_box img {
    width: 3.2rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.verified_box .h5 {
    font-size: 2rem;
    font-weight: 600;
}

.verified_box p {
    color: #F1F0E3;
    font-weight: 300;
}


/* testimonial */
.testimonial {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.testimonial_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8rem 1fr 8rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
}

.testimonial_grid>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.testi_star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .4rem;
}

.testi_star img {
    width: 2rem;
}

.testimonial_grid h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.testi_author {
    margin-top: auto;
}

.testi_author h4 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.4;
}

.testi_author p {
    font-weight: 300;
}

/* friction */
.friction_video {
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    max-height: 65rem;
}

.friction_video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
    border-radius: 1rem;
}

.friction_video .thumbnail_img img {
    border-radius: 1rem;
    width: 100%;
    max-height: 65rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.friction_video .video_text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.friction_video .play_icon {
    width: 9.6rem;
}

.friction_video .video_text p {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--white);
    margin-top: 2.4rem;
}


/* around */
.around .common_title {
    max-width: 58rem;
}

.around .common_title p {
    max-width: 51rem;
    margin-inline: auto;
}

.around_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.6rem 1fr 1.6rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.around_grid>div:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
}

.around_card {
    background-color: var(--lightGray);
    padding: 4rem;
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    position: relative;
}

.around_card::after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% - 1.6rem);
    width: 100%;
    height: 2.5rem;
    background-image: url(../images/brush-line.svg);
    background-size: cover;
    background-position: bottom;
}


.around_card h3 {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primaryColor);
}

.around_card h4 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--black);
    margin-bottom: .2rem;
    margin-top: .4rem;
}

.around_card p {
    font-size: 1.8rem;
    font-weight: 300;
}

.verified_img {
    width: 5rem;
}

.around_card.long {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
}

.around_card.long p {
    color: var(--black);
}

.around_card.long>div:first-child p {
    opacity: .6;
}

.around_card.long>div:not(:first-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.6rem;
}

.around_card.long img {
    width: 5rem;
}

.around_card.long h4 {
    margin: 0;
}

.around_btn {
    text-align: center;
    margin-top: 3.2rem;
}

.around ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.2rem;
    margin-top: 1.6rem;
}

.around ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.around ul li img {
    width: 2rem;
}

/* smarter */
.smarter {
    margin-block: 8rem;
    position: relative;
    padding-top: 25.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    z-index: 1;
}
.smarter_img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}
.smarter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -2;
    background: -webkit-gradient(linear, right top, left top, from(rgba(21, 26, 29, 0)), color-stop(40%, rgba(21, 26, 29, 0)), color-stop(60%, rgba(21, 26, 29, 0.9)), to(#151B1D));
    background: -o-linear-gradient(right, rgba(21, 26, 29, 0) 0%, rgba(21, 26, 29, 0) 40%, rgba(21, 26, 29, 0.9) 60%, #151B1D 100%);
    background: linear-gradient(270deg, rgba(21, 26, 29, 0) 0%, rgba(21, 26, 29, 0) 40%, rgba(21, 26, 29, 0.9) 60%, #151B1D 100%);
    opacity: .8;
}
.smarter::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../images/shape1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.smarter_text {
    position: relative;
    z-index: 2;
    color: var(--white);
}
.smarter_text h2 {
    line-height: 1;
}
.smarter_text p {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
}
.smart_card {
    background-color: var(--white);
    padding: 3.2rem;
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.2rem;
    height: 100%;
}

.smart_card img {
    width: 3.2rem;
}

.smart_card h4 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: .4rem;
}

.smart_card p {
    font-size: 1.8rem;
    font-weight: 300;
}

.smarter_slider_wrap {
    margin-top: 10rem;
    margin-bottom: 4.8rem;
}

.smarterSlider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.6rem;
}

.smarterSlider .swiper-slide {
    height: auto;
    width: 36rem;
}

.horizontal-marquee-inner {
    white-space: wrap;
    gap: 1.6rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.horizontal-marquee.smooth {
    -webkit-mask: none;
            mask: none;
}

/* step */
.step_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    padding-left: 6rem;
    padding-right: 3rem;
    position: relative;
    padding-bottom: 4rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.step_grid>div {
    max-width: 28rem;
}

.arrow_beige_desktop {
    position: absolute;
    top: 4rem;
    left: 25%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.arrow_blue_desktop {
    position: absolute;
    top: 4rem;
    left: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}

.step_grid .step_img {
    width: 9.6rem;
    height: 9.6rem;
    position: relative;
    margin-bottom: 2rem;
}

.step_img img {
    position: absolute;
    left: 0;
    max-width: 100%;
    width: auto;
}

.step_img .step_up {
    z-index: 1;
    top: 0;
}

.step_img .step_down {
    z-index: 0;
    bottom: 0;
}

.step_grid h4 {
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: .4rem;
    font-weight: 600;
}

.step_grid ul {
    padding-left: 1.8rem;
}

.step_grid li {
    list-style: disc;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.8;
}

.qualify_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.2rem;
    margin-top: 4rem;
}

.qualify_list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
}

.qualify_list li span {
    color: var(--primaryColor);
}

.qualify_list li img {
    width: 2rem;
}

.step_btn {
    margin-top: 4rem;
    text-align: center;
}

/* bank */
.bank_feature {
    margin-top: 4rem;
    position: relative;
}

.bank_shape {
    width: 50% !important;
    position: absolute;
    bottom: -.5rem;
    right: 0;
    height: 1rem;
}

.bank_feature::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--lightGray);
    border-radius: 1rem 1rem 0 0;
    z-index: -1;
}

.bank_feature>div:not(:last-child) {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.bank_feature>div {
    padding-block: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.bank_feature>div:first-child {
    padding-top: 4rem;
}

.bank_feature>div>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.2rem;
    width: 50%;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
}

.bank_feature>div>div:last-child {
    padding-left: 6rem;
}

.bank_feature img {
    width: 3.2rem;
}

.bank_feature p {
    max-width: 47rem;
    width: 100%;
    font-size: 2.2rem;
    color: var(--black);
    line-height: 1.5;
}

.bank_feature h3 {
    font-size: 2.2rem;
    font-weight: 600;
}

.bank_feature h4 {
    font-size: 2.2rem;
    font-weight: 600;
    max-width: 35rem;
    width: 100%;
}

.bank_feature .trueScale_logo img {
    width: 14.4rem;
}

/* review */
.review {
    overflow-x: hidden;
}

.trustpilot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
}

.truspilot_stars {
    height: 3.2rem;
}

.trustpilot_logo {
    height: 2.4rem;
    mix-blend-mode: difference;
}

.trustpilot p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black);
}

.reviewSlider {
    padding-block: 3rem;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.4rem;
}

.reviewSlider .swiper-slide {
    height: auto;
    width: 37rem;
}

.reviewSlider .horizontal-marquee-inner {
    gap: 2.4rem;
}

.review_card {
    padding: 4rem;
    background: var(--white);
    border-radius: 1rem;
    -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, .1);
            box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, .1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
}

.review_star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .4rem;
}

.review_star img {
    width: 2rem;
}

.review_card h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: .6rem;
}

.review_card p {
    font-weight: 300;
    color: var(--black);
}

.review_author {
    margin-top: auto;
}

.review_author h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

.review_card .review_author p {
    color: rgba(0, 0, 0, 0.6);
}

.review_btn {
    text-align: center;
    margin-top: 2rem;
}

.review_btn p {
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 300;
    margin-top: 1.6rem;
}

.review_btn p strong {
    font-weight: 700;
}

/* faq */
.faq_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6rem;
}

.faq_grid>div:first-child {
    max-width: 33.7rem;
    width: 100%;
}

.faq_left h2 {
    line-height: 1;
    letter-spacing: -.04em;
}

.faq_left p {
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
    font-size: 1.8rem;
    font-weight: 300
}

.faq_question {
    padding-left: 4rem;
}

.faq_question>div:not(:last-child) {
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: .4rem solid var(--lightGray);
}

.faq_question h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .2rem;
}

.faq_question p {
    font-size: 1.8rem;
    line-height: 1.7;
    font-weight: 300;
}

/* pressure */
.pressure {
    height: 52rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 8rem;
}

.pressure_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    z-index: 0;
}

.pressure_content {
    position: relative;
    z-index: 1;
}

.pressure_content h2 {
    line-height: 1;
    letter-spacing: -.04em;
}

.pressure_content ul {
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
}

.pressure_content ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.8rem;
    line-height: 1.5;
}

.pressure_content ul li img {
    width: 2rem;
}

.pressure_btn p {
    color: var(--black);
    margin-top: 1.6rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.pressure_btn p strong {
    font-weight: 700;
}

/* footer */
footer {
    background-color: var(--dark);
    padding-block: 10rem;
}

.footer_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
}

.footer_grid img {
    width: 11.5rem;
    margin-bottom: 1rem;
}

.footer_grid>div {
    max-width: 24rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

footer p {
    color: rgba(255, 255, 255, .6);
    font-size: 1.2rem;
    font-weight: 300;
}

.footer_text span {
    display: block;
    margin-top: 1rem;
}

footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
}

footer ul a {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white);
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

footer ul a:hover {
    color: var(--primaryColor);
}

.copyright {
    text-align: right;
}

.footer_btn {
    display: inline-block;
    padding: 1.2rem 2.2rem;
    border: .1rem solid rgba(255, 255, 255, .5);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    border-radius: 5rem;
    line-height: 1.29;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer_btn:hover {
    background-color: #fff;
    color: var(--black);
}

.footer_bottom {
    padding-top: 6rem;
    margin-top: 6rem;
    border-top: .1rem solid rgba(255, 255, 255, .1);
}

.footer_bottom p:last-child {
    margin-top: .8rem;
}



/* modal */
.modal {
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-backdrop-filter: blur(.6rem);
            backdrop-filter: blur(.6rem);
    padding: 2rem;
    display: none;
}

.modal.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal_dialog {
    max-width: 60rem;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: var(--white);
    padding: 5rem 6rem;
    border-radius: 1.2rem;
    position: relative;
}

.modal_logo {
    display: none;
}

.close_icon {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
}

.close_icon img {
    width: 1.65rem;
}

.modal_shape {
    width: 100%;
    position: absolute;
    bottom: -.6rem;
    left: 0;
}

.contact_modal h3 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -.04em;
}

.contact_modal form {
    margin-top: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.2rem;
}

.contact_modal label {
    font-size: 1.4rem;
    margin-bottom: .4rem;
    display: block;
}

.contact_modal input {
    padding: 0rem 1.4rem;
    font-size: 1.8rem;
    display: block;
    width: 100%;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .8rem;
    font-family: inherit;
    font-weight: 300;
    height: 5.2rem;
}
.contact_modal input::-webkit-input-placeholder{
    color: var(--black);
    opacity: 0.4;
}
.contact_modal input::-moz-placeholder{
    color: var(--black);
    opacity: 0.4;
}
.contact_modal input:-ms-input-placeholder{
    color: var(--black);
    opacity: 0.4;
}
.contact_modal input::-ms-input-placeholder{
    color: var(--black);
    opacity: 0.4;
}
.contact_modal input::placeholder{
    color: var(--black);
    opacity: 0.4;
}
.contact_modal input:focus {
    outline: none;
}

.contact_modal .common_btn {
    width: 100%;
    margin-top: 1.2rem;
}

.modal_body.thank_body {
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.thank_img {
    height: 9.6rem;
    width: 9.6rem;
    position: relative;
    margin-inline: auto;
}

.thank_img img {
    width: 100%;
    height: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
}

.thank_img img:last-child {
    top: -.6rem;
}

.thank_body {
    display: none;
}

.thank_body h3 {
    margin-bottom: .8rem;
}

.thank_body p {
    font-size: 1.8rem;
}

.modal.thank .form_body {
    display: none;
}

.modal.thank .thank_body {
    display: block;
}


/* video modal */
.video-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(0.6rem);
            backdrop-filter: blur(0.6rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.video-modal-content {
    position: relative;
    max-width: 80rem;
    max-height: 50rem;
    width: 100%;
    height: 100%;
}
.video-modal iframe {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.close {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}